		#msgfrom{
			position:absolute;
			margin-top:-20px;
			Margin-left:83px;
		}
		#to{
			position:absolute;
		    margin-left:100px;
		}
		#message{
		position:absolute;
		margin-left:60px;
		margin-top:70px;
		}
		#send{
		position:absolute;
		margin-top:100px;
		margin-left:715px;
		}
		#FS{
		position:absolute;
		width:400px;
		height:600px;
		left:500px;
		}
		